<link rel="stylesheet" href="/css/expoAliciaAyanegui.css">
<input id="expoName" type="text" value="AliciaAyanegui" style="display: none;">

<div class="title-group">
  <h1 class="expo-title es">Recuerdos incompletos</h1>
  <h1 class="expo-title en">Incomplete memories</h1>
  <h1 class="expo-title es">Souvenirs incompletes</h1>
</div>

<p class="expo-author">Alicia Ayanegui</p>
<p class="expo-city">Ciudad de México</p>
<p class="expo-description">{{expoDescription}}</p>

<h1 class="expo-title es">Inauguración</h1>
<h1 class="expo-title en">Opening</h1>
<p></p>
<div class="videoconference">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/zemy6ZnVi3Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{{>chat}}

<div class="piece-2">
  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/01.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>Pilares</p>
    <p>22 x 25 cm</p>
    <p>Óleo sobre papel</p>
    <p>2019</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/02.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>Peso amarillo</p>
    <p>50 x 65 cm</p>
    <p>Óleo sobre papel</p>
    <p>2019</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/03.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>Blancos</p>
    <p>50 x 65 cm</p>
    <p>Óleo sobre papel</p>
    <p>2019</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/04.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>Cinta azul</p>
    <p>50 x 65 cm</p>
    <p>Óleo sobre papel</p>
    <p>2019</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/05.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>Sombra roja</p>
    <p>45x45 cm</p>
    <p>Óleo sobre papel</p>
    <p>2019</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/06.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>Reflejo</p>
    <p>45 x 45 cm</p>
    <p>Óleo sobre papel</p>
    <p>2019</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/07.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>Paisaje</p>
    <p>45 x 45 cm</p>
    <p>Óleo sobre papel</p>
    <p>2019</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/08.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>Frío</p>
    <p>70 x 70 cm</p>
    <p>Óleo sobre lienzo</p>
    <p>2020</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/09.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>Hielo</p>
    <p>45x45 cm</p>
    <p>Óleo sobre papel</p>
<p>    2020</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/10.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>Neblina fría</p>
    <p>45x45 cm</p>
    <p>Óleo sobre papel</p>
    <p>2020</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/11.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>Uno</p>
    <p>45 x 45 cm</p>
    <p>Óleo sobre papel</p>
    <p>2020</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/12.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>Humo</p>
    <p>45x45 cm</p>
    <p>Óleo sobre papel</p>
    <p>2020</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/13.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>Algo en el piso (Díptico)</p>
    <p>45x90 cm</p>
    <p>Óleo sobre papel</p>
    <p>2020</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/14.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>Desapariciones (Díptico)</p>
    <p>45 x 90 cm</p>
    <p>Óleo sobre papel</p>
    <p>2020</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/15.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>Lodoso</p>
    <p>45x45 cm</p>
    <p>Óleo sobre papel</p>
    <p>2020</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/16.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>Humedad</p>
    <p>45 x 45 cm</p>
    <p>Óleo sobre papel</p>
    <p>2020</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/17.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>De cristal</p>
    <p>45 x 45 cm</p>
    <p>Óleo sobre papel</p>
    <p>2020</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/18.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>En el baño</p>
    <p>45 x 45 cm</p>
    <p>Óleo sobre papel</p>
    <p>2020</p>
  </div>

  <div class="piece-2-container">
    <img src="http://migala.mx/recursos/pared/aliciaAyanegui/19.jpg" alt="">
  </div>
  <div class="info-contaner">
    <p>Sólo en sueños</p>
    <p>70 x 70 cm</p>
    <p>Óleo sobre papel</p>
    <p>2020</p>
  </div>
</div>


<h1 class="expo-title es">Enlaces</h1>
<h1 class="expo-title en">Links</h1>

<div class="links" >
  <div class="link">
    <div class="link-image">
      <a href="http://migala.mx/recursos/pared/aliciaAyanegui/invitacion.jpg" target="_blank"><img src="http://migala.mx/recursos/pared/aliciaAyanegui/invitacion.jpg" alt=""></a>
    </div>
    <div class="link-info">
      <p>Cartel</p>
    </div>
  </div>
  <div class="link">
    <div class="link-image">
      <a href="http://migala.mx/recursos/pared/aliciaAyanegui/catalogo.pdf" target="_blank"><img src="http://migala.mx/recursos/pared/aliciaAyanegui/link1.jpg" alt=""></a>
    </div>
    <div class="link-info">
      <p>Catálogo</p>
    </div>
  </div>
  <div class="link">
    <div class="link-image">
      <a href="https://aliciaayanegui.wixsite.com/artist" target="_blank"><img src="http://migala.mx/recursos/pared/aliciaAyanegui/link2.jpg" alt=""></a>
    </div>
    <div class="link-info">
      <p>Alicia Ayanegui Web</p>
    </div>
  </div>
</div>
<h1 class="expo-title es">Reconocimientos</h1>
<h1 class="expo-title en">Acknowledges</h1>
<p class="expo-description">Translations/traducción // Text review/revisión de textos<br>Gala Anaya Vázquez, Beatriz Marrodán</p>
<script src="/js/backgroundDarken.js"></script>

<script type="text/javascript"></script>
