<script src="/js/expo.js"></script>
<link rel="stylesheet" href="/css/expo.css">
<input id="expoName" type="text" value="SergioSuarez" style="display: none;">

<div class="title-group">
  <h1 class="expo-title es">El tiempo se presenta a sí mismo</h1>
  <h1 class="expo-title en">As a revelation</h1>
  <h1 class="expo-title es">Como una revelación</h1>
  <h1 class="expo-title en">time presents itself</h1>
</div>
<p class="expo-author">Sergio Suárez</p>
<p class="expo-city">Atlanta</p>
<p class="expo-description">{{expoDescription}}</p>
<div class="container">
  <div class="slidecontainer">
      <p>{{rotate}} (touch ← →)</p>
      <input type="range" min="0" max="360" value="360" step="1" class="sliderRotate">
      <p>{{zoom}}</p>
      <input type="range" min="0" max="600" value="600" step="1" class="sliderZoom">
  </div>
  <div class="info-contaner">
    <p>As a Revelation, Time Presents Itself</p>
    <p>(Como una revelación, el tiempo se presenta a sí mismo)</p>
    <p>Woodcut/Xilografía</p>
    <p>8’x4’x4’</p>
    <p>2020</p>
  </div>
  <div class="piece-1">
    <img class="part part-back" src="/assets/expo/1medium.jpg" alt="">
    <img class="part part-left" src="/assets/expo/2medium.jpg" alt="">
    <img class="part part-front" src="/assets/expo/3medium.jpg" alt="">
    <img class="part part-right" src="/assets/expo/4medium.jpg" alt="">
  </div>
</div>

<div class="piece-2">
  <div class="piece-2-container">
    <img src="/assets/expo/flama.gif" alt="">
  </div>
  <div class="info-contaner">
    <p>Flama</p>
    <p>(Flame)</p>
    <p>Frotado de xilografía en papel de mora (animado como gif)</p>
    <p>Woodcut rubbing on mulberry paper (animated as gif)</p>
    <p>2020</p>
  </div>
</div>

<h1 class="expo-title es">Enlaces</h1>
<h1 class="expo-title en">Links</h1>

<div class="links" >
  <div class="link">
    <div class="link-image">
      <a href="/assets/invitacion.png" target="_blank"><img src="/assets/invitacion.png" alt=""></a>
    </div>
    <div class="link-info">
      <p>Cartel</p>
    </div>
  </div>
  <div class="link">
    <div class="link-image">
      <a href="/assets/catalogs/sergiosuarez.pdf" target="_blank"><img src="/assets/expo/links/link2.png" alt=""></a>
    </div>
    <div class="link-info">
      <p>Catalog/catálogo</p>
    </div>
  </div>
  <div class="link">
    <div class="link-image">
      <a href="https://migala.mx/la-invencion-del-tiempo/" target="_blank"><img src="/assets/expo/links/link1.png" alt=""></a>
    </div>
    <div class="link-info">
      <p>Essay about/Ensayo acerca de</p>
      <p class="link-title">La invención del tiempo</p>
      <p class="link-author">David Enríquez</p>
      <p class="link-lang">Español/Spanish</p>
    </div>
  </div>
  <div class="link">
    <div class="link-image">
      <a href="https://suarezsergio.com" target="_blank"><img src="/assets/expo/links/link3.png" alt=""></a>
    </div>
    <div class="link-info">
      <p>Sergio Suárez Web</p>
    </div>
  </div>
</div>
<h1 class="expo-title es">Inauguración</h1>
<h1 class="expo-title en">Opening</h1>
<p></p>
<div class="videoconference">
  <iframe src="https://www.youtube.com/embed/F5aG0XVAWvY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{{>chatPlaceholder}}
<h1 class="expo-title es">Reconocimientos</h1>
<h1 class="expo-title en">Acknowledges</h1>
<p class="expo-description">Translations/traducción // Text review/revisión de textos<br>Gala Anaya Vázquez, Beatriz Marrodán</p>
<p class="expo-description">Social Media / Redes <br> Fernando Victoria</p>
