<link rel="stylesheet" href="/css/expoJuanPabloMedinaAtlanta.css">

<div class="model-container">
  <div id="image-modal" class="image-modal-visible hidden"></div>
  <canvas id="c" width="800" height="600"></canvas>
</div>

<script src='/js/3d/three.min.js'></script>
<script src='/js/3d/GLTFLoader.js'></script>
<script src='/js/3d/OrbitControls.js'></script>
<script src='/assets/expoJuanPabloMedina/3d/mainAtlanta.js'></script>
