<link rel="stylesheet" href="/css/expoDanielBravo.css">
<input id="expoName" type="text" value="danielBravo" style="display: none;">

</script>
<div class="title-group">
  <h1 class="expo-title es">{{expoTitle}}</h1>
  <h1 class="expo-title en">{{expoTitle}}</h1>
</div>

<p class="expo-author">Daniel Bravo</p>
<p class="expo-city">Tlaxcala</p>
<p class="expo-description">{{expoDescription}}</p>

<h1 class="expo-title es">Inauguración</h1>
<h1 class="expo-title en">Opening</h1>
<div class="videoconference">
<iframe width="560" height="560" src="https://www.youtube.com/embed/-Rp43hAoddM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
{{>chat}}

<div class="instructions">
    <p>{{instructions}}</p>
</div>

<div class="model-container">
  <img class="a1" src="http://migala.mx/recursos/pared/danielBravo/a1.png">
  <img class="a2" src="http://migala.mx/recursos/pared/danielBravo/a2.png">
  <img class="a3" src="http://migala.mx/recursos/pared/danielBravo/a3.png">
  <img class="a4" src="http://migala.mx/recursos/pared/danielBravo/a4.png">
  <img class="a5" src="http://migala.mx/recursos/pared/danielBravo/a5.png">
  <img class="a6" src="http://migala.mx/recursos/pared/danielBravo/a6.png">
  <img class="a7 "src="http://migala.mx/recursos/pared/danielBravo/a7.png">
  <img class="a8" src="http://migala.mx/recursos/pared/danielBravo/a8.png">
  <img class="a91" src="http://migala.mx/recursos/pared/danielBravo/a9-1.png">
  <img class="a92" src="http://migala.mx/recursos/pared/danielBravo/a9-2.png">
  <img class="a10" src="http://migala.mx/recursos/pared/danielBravo/a10.png">
  <svg viewBox="0 0 1415.75 1415.75" class="svg not-visible">
    <polygon id="a1" onclick="insertModal('f4')" points="910.100 1037.900, 910.100 1101.000, 320.170 1101.000, 320.010 1037.860"/>
    <polygon id="a2" onclick="insertModal('v10')" points="980.610 181.000, 1020.410 181.000, 1020.410 325.910, 1146.210 325.910, 1146.300 290.220, 1146.300 254.800, 1146.300 218.800, 1146.300 183.180, 1239.740 183.180, 1240.090 203.700, 1240.090 223.860, 1240.090 245.000, 1385.090 245.000, 1385.090 301.110, 1394.150 301.550, 1394.150 423.460, 1315.020 423.590, 1315.020 358.740, 1240.020 358.740, 1240.020 580.860, 1146.430 580.860, 1146.430 384.310, 1020.670 383.670, 1020.460 401.790, 1020.460 419.790, 1020.460 438.320, 1020.460 456.850, 1020.460 475.380, 1020.460 511.890, 1020.460 530.420, 1020.460 548.940, 1020.460 566.940, 1020.460 585.590, 981.000 585.590, 980.610 181.000"/>
    <polygon id="a3" onclick="insertModal('f2')" points="364.590 377.910, 559.590 377.910, 559.590 711.680, 364.590 711.680"/>
    <polygon id="a4" onclick="insertModal('v8')" points="839.370 40.230, 839.370 238.230, 838.890 238.720, 838.460 239.060, 837.930 239.150, 836.300 239.250, 718.500 239.380, 717.970 239.470, 717.590 239.860, 717.260 240.270, 717.080 241.890, 716.910 709.290, 716.770 709.800, 716.410 710.210, 715.990 710.510, 713.840 710.790, 567.680 710.790, 565.530 710.270, 565.530 239.410, 34.130 239.410, 33.490 40.650, 839.370 40.230"/>
    <polygon id="a5" onclick="insertModal('f8')" points="640.000 131.270, 640.000 327.000, 590.840 327.000, 590.840 286.570, 213.010 286.210, 213.010 409.430, 251.540 409.610, 290.270 409.610, 715.000 409.610, 715.720 702.010, 570.790 702.370, 570.790 575.130, 570.790 447.760, 212.790 447.500, 212.790 913.300, 152.370 913.540, 152.370 33.720, 212.510 33.720, 212.700 61.830, 212.700 90.190, 212.700 204.060, 590.640 204.470, 590.640 198.760, 590.640 136.580, 592.410 129.580, 592.940 124.340, 592.940 50.160, 592.940 44.360, 933.630 43.800, 933.630 131.260"/>
    <polygon id="a6" onclick="insertModal('v6')" points="1310.670 243.510, 1310.670 632.810, 723.670 632.810, 723.670 244.200, 725.480 243.540, 1310.670 243.510"/>
    <polygon id="a7" onclick="insertModal('v5')" points="1139.580 1298.260, 1139.580 715.880, 1382.350 715.880, 1382.350 1297.880, 1139.580 1298.260"/>
    <polygon id="a8" onclick="insertModal('f5')" points="1221.650 715.290, 1221.650 869.840, 475.200 870.150, 475.200 715.460, 723.300 715.460, 723.300 337.850, 908.150 337.850, 908.150 715.290"/>
    <polygon id="a9" onclick="insertModal('v9')" points="1131.810 303.850, 1131.810 875.000, 1322.350 875.000, 1322.350 1032.100, 1301.350 1032.230, 1280.080 1032.230, 1131.920 1032.230, 1131.920 1153.500, 915.990 1154.110, 915.850 1134.300, 915.850 1114.120, 915.850 1093.400, 915.850 1073.220, 915.850 1032.350, 546.100 1032.350, 545.490 875.690, 548.930 875.110, 554.380 875.110, 915.780 875.110, 915.780 294.470, 920.370 294.000, 1032.730 294.000, 1039.110 295.060, 1075.450 301.480, 1116.860 302.390, 1131.810 303.850"/>
    <polygon points="1079.940 294.320, 1131.270 294.320, 1129.570 296.930, 1079.940 294.320"/>
    <polygon id="a10" onclick="insertModal('f1')"points="480.240 1206.050, 480.240 987.820, 457.450 987.700, 434.540 987.700, 364.540 987.700, 364.440 963.580, 364.440 939.040, 364.440 769.740, 129.230 769.740, 129.230 936.510, 49.170 936.990, 49.170 759.070, 53.590 757.890, 54.150 751.940, 363.300 751.940, 363.980 648.610, 325.100 648.360, 286.370 648.360, 130.180 648.360, 130.180 529.360, 151.180 529.230, 172.450 529.230, 364.300 529.230, 364.300 377.370, 493.550 377.050, 493.550 529.120, 729.060 529.120, 729.060 648.230, 494.490 648.230, 494.270 752.960, 816.160 752.960, 816.580 868.890, 784.800 869.190, 752.620 869.190, 493.870 869.190, 493.870 968.390, 501.300 969.170, 501.420 990.120, 501.420 1011.930, 501.420 1205.930, 689.280 1205.930, 689.280 1327.300, 688.960 1327.710, 688.520 1327.980, 686.930 1328.290, 229.840 1328.290, 227.840 1328.020, 227.670 1206.020"/>
  </svg>
  <div class="media-modal" id="media-modal">
  </div>
</div>

<div class="additions-container">
  <a href="http://www.migala.mx/recursos/pared/danielBravo/mapa.png" target="_blank">
    <div class="addition">
      <img src="http://www.migala.mx/recursos/pared/danielBravo/mapa.png" alt="">
      <p>Mapa del recorrido</p>
    </div>
  </a>
</div>

<h1 class="expo-title es">Enlaces</h1>
<h1 class="expo-title en">Links</h1>

<div class="links" >
  <div class="link">
    <div class="link-image">
      <a href="http://www.migala.mx/recursos/pared/danielBravo/invitacion.png" target="_blank">
        <img src="http://www.migala.mx/recursos/pared/danielBravo/invitacion.png" alt="">
      </a>
    </div>
    <div class="link-info">
      <p>Cartel</p>
    </div>
  </div>
  <div class="link">
    <div class="link-image">
      <a href="http://migala.mx/recursos/pared/danielBravo/catalogo.pdf" target="_blank"><img src="http://migala.mx/recursos/pared/danielBravo/link1.png" alt=""></a>
    </div>
    <div class="link-info">
      <p>Catálogo</p>
    </div>
  </div>
</div>
<h1 class="expo-title es">Reconocimientos</h1>
<h1 class="expo-title en">Acknowledges</h1>
<p class="expo-description">Translations/traducción // Text review/revisión de textos<br>Gala Anaya Vázquez, Beatriz Marrodán</p>
<p class="expo-description">Social Media / Redes <br> Fernando Victoria</p>
<script src='/assets/expoDanielBravo/main.js'></script>
