<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Pared</title>
        <link rel="stylesheet" href="/css/exercise-1.css">
        {{>links}}
        {{>scripts}}
    </head>
    <body>
        {{>header}}
        <p class="error">{{error}}</p>
        <div class="exercise-1">
          <img class="exercise-1-2" src="/assets/exercise-1/2.png" alt="">
          <img class="exercise-1-3" src="/assets/exercise-1/3.png" alt="">
          <img class="exercise-1-4" src="/assets/exercise-1/4.png" alt="">
          <img class="exercise-1-7" src="/assets/exercise-1/7.png" alt="">
          <img class="exercise-1-8" src="/assets/exercise-1/8.png" alt="">
          <img class="exercise-1-9" src="/assets/exercise-1/9.png" alt="">
          <img class="exercise-1-10" src="/assets/exercise-1/10.png" alt="">
          <img class="exercise-1-11" src="/assets/exercise-1/11.png" alt="">
          <img class="exercise-1-12" src="/assets/exercise-1/12.png" alt="">
          <img class="exercise-1-13" src="/assets/exercise-1/13.png" alt="">
          <img class="exercise-1-14" src="/assets/exercise-1/14.png" alt="">
          <img class="exercise-1-15" src="/assets/exercise-1/15.png" alt="">
          <img class="exercise-1-16" src="/assets/exercise-1/16.png" alt="">
          <img class="exercise-1-6" src="/assets/exercise-1/6.png" alt="">
          <p class="exercise-1-2-text">{{1}}</p>
          <p class="exercise-1-3-text">{{2}}</p>
          <p class="exercise-1-4-text">{{3}}</p>
          <p class="exercise-1-6-text">{{4}}</p>
          <p class="exercise-1-7-text">{{5}}</p>
          <p class="exercise-1-8-text">{{0}}</p>
          <p class="exercise-1-9-text">{{6}}</p>
          <p class="exercise-1-10-text">{{7}}</p>
          <p class="exercise-1-11-text">{{8}}</p>
          <p class="exercise-1-12-text">{{9}}</p>
          <p class="exercise-1-13-text">{{10}}</p>
          <p class="exercise-1-14-text">{{11}}</p>
          <p class="exercise-1-15-text">{{12}}</p>
          <p class="exercise-1-16-text">{{13}}</p>
        </div>
        <p>{{instructions}}</p>
        <p class="description">{{description}}</p>
        {{>footer}}
    </body>
</html>
