<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        {{>analytics}}
        <meta charset="utf-8">
        <title>Pared</title>
        {{>links}}
        {{>scripts}}
        <link rel="stylesheet" href="/css/exposPage.css">
    </head>
    <body>
        {{>header}}
        <p class="error">{{error}}</p>
        <div class="expos">
            <h2 class='artist-name'>Sergio Suárez</h2>
            <h2 class="expo-title">As a revelation, time presents itself · Como una revelación, el tiempo se presenta a sí mismo</h2>
            <nav class="expo-details">
              <li>01-07-2020 / 31-07-2020</li>
              <li><a class="expo-link" href="/expos/sergiosuarez">❒ link</a></li>
            </nav>

            <h2 class='artist-name'>Adrián González</h2>
            <h2 class="expo-title">Dance till you drop · Dance till you drop</h2>
            <nav class="expo-details">
              <li>01-08-2020 / 31-08-2020</li>
              <li><a class="expo-link" href="/expos/adriangonzalez">❒ link</a></li>
            </nav>

            <h2 class='artist-name'>Alejandra Aguilar</h2>
            <h2 class="expo-title">I thought I built a house but I was only threading memory</h2>
            <nav class="expo-details">
              <li>01-09-2020 / 30-09-2020</li>
              <li><a class="expo-link" href="/expos/alejandraaguilar">❒ link</a></li>
            </nav>

            <h2 class='artist-name'>Alicia Ayanegui</h2>
            <h2 class="expo-title">Recuerdos incompletos · Incomplete memories</h2>
            <nav class="expo-details">
              <li>01-10-2020 / 31-10-2020</li>
              <li><a class="expo-link" href="/expos/aliciaayanegui">❒ link</a></li>
            </nav>

            <h2 class='artist-name'>Lina Velasquez</h2>
            <h2 class="expo-title">Profundo · Deep</h2>
            <nav class="expo-details">
              <li>01-11-2020 / 30-11-2020</li>
              <li><a class="expo-link" href="/expos/linavelasquez">❒ link</a></li>
            </nav>

            <h2 class='artist-name'>Circe Irasema</h2>
            <h2 class="expo-title">Recetario · Prescription pad</h2>
            <nav class="expo-details">
              <li>01-12-2020 / 31-12-2020</li>
              <li><a class="expo-link" href="/expos/linavelasquez">❒ link</a></li>
            </nav>
        </div>

        <p class="description">{{description}}</p>
        {{>footer}}
    </body>
</html>
