<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        {{>analytics}}
        <meta charset="utf-8">
        <title>Pared</title>
        {{>links}}
        {{>scripts}}
        <link rel="stylesheet" href="/css/exposPage.css">
    </head>
    <body>
        {{>header}}
        <p class="error">{{error}}</p>
        <div class="expos">
            <h2 class='artist-name'>Sergio Suárez</h2>
            <h2 class="expo-title">As a revelation, time presents itself · Como una revelación, el tiempo se presenta a sí mismo</h2>
            <nav class="expo-details">
              <li>01-07-2020 / 31-07-2020</li>
              <li><a class="expo-link" href="/expos/sergiosuarez">❒ link</a></li>

            </nav>
        </div>

        <p class="description">{{description}}</p>
        {{>footer}}
    </body>
</html>
