<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <title>Pared</title>
        <meta name="twitter:dnt" content="on">
        <meta charset="utf-8">
        {{>analytics}}
        {{>links}}
        {{>scripts}}
    </head>
    <body>
        {{>header}}
        {{>expoHelioSantos}}
        <p class="error"></p>
        {{>footer}}
    </body>
</html>
