<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        {{>analytics}}
        <meta charset="utf-8">
        <title>Pared</title>
        {{>links}}
        {{>scripts}}
    </head>
    <body>
        {{>header}}
        <p class="description">{{description}}</p>
        <div style="width: 80%; height: 100vh; margin: auto;">
          <a href="/assets/invitacion.png" target="_blank"><img style="height: 100%; width: auto;" src="/assets/invitacion.png" alt=""></a>
        </div>
        <p class="error"></p>
        {{>footer}}
    </body>
</html>
