<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Pared</title>
        {{>links}}
        {{>scripts}}
    </head>
    <body>
        {{>header}}
        <p>{{description}}</p>
        <p class="error"></p>
        {{>footer}}
    </body>
</html>
