<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <title>Pared</title>
        <meta charset="utf-8">
        {{>links}}
        {{>scripts}}
    </head>
    <body>
        {{>expoJuanPabloMedinaAtlanta}}
    </body>
</html>
