@media (orientation: portrait) {
    .piece-2-container {
        max-height: 100vw;
    }
}

.container {
  width: auto;
  height: 1000px;
  perspective: 1000px;
}

.piece-1 {
  width: 40%;
  margin: auto;
  position: relative;
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(-600px);
}

.part {
  height: auto;
  opacity: 1;
  width: 40%;
  min-width: 500px;
  left: 50%;
  position: absolute;
}

.part-front {
  transform: translateX(-50%) rotateY(0deg) translateZ(250px);
}

.part-right {
  transform: translateX(-50%) rotateY(90deg) translateZ(250px);
}

.part-back  {
  transform: translateX(-50%) rotateY(180deg) translateZ(250px);
}

.part-left  {
  transform: translateX(-50%) rotateY(-90deg) translateZ(250px);
}

.title-group {
  font-style: normal;
  margin-top: 3em;
}

.expo-title {
  margin: 0 0 0 10vw;
  line-height: .8em;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 70%;
  min-width: 300px;
}

.expo-title.es {
  text-align: left;
}

.expo-title.en {
  text-align: right;
  color: var(--gris);
}

.expo-author, .expo-city {
  margin-top: 1.6em;
  margin-left: 10vw;
  margin-right: auto;
  min-width: 300px;
  width: 50%;
  text-align: justify;
  font-weight: bold;
}

.expo-description {
  margin-top: 1.6em;
  margin-left: 10vw;
  margin-bottom: 3em;
  text-align: justify;
  width: 50%;
  min-width: 300px;
}

.slidecontainer {
  border-left: solid 2px var(--azul);
  background-color: var(--rosa);
  box-sizing: border-box;
  left: 0;
  margin: auto;
  min-width: 200px;
  padding: .8em;
  position: absolute;
  top: 0;
  width: 25vw;
  z-index: 5;
}

.slidecontainer p, .info-contaner p {
  color: white;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: .6em;
  font-style: normal;
  letter-spacing: 2px;
  text-align: left;
  margin: 0;
}

.info-contaner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--azul);
  min-width: 200px;
  padding: .8em;
  width: 25vw;
  z-index: 5;
}

.info-contaner p {
  text-align: right;
}

.sliderRotate, .sliderZoom {
  -webkit-appearance: none;
  appearance: none;
  background: white;
  height: 1px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 10px;
  border: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}


input[type=range]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  height: 1px;
  background-color: white;
  outline: none;
}


.piece-2-container {
  position: relative;
  width: auto;
  height: 100vh;
  margin-bottom: 3em;
}

.piece-2 {
  position: relative;
  margin: auto;
}

div.piece-2-container > img {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  margin: auto;
  max-height: 80%;
}

.videoconference {
  width: 70%;
  margin-left: 10vw;
  text-align: left;
}

.videoconference > iframe {
  width: 100%;
  min-width: 300px;
  height: 30vw;
  min-height: 200px;
}
