canvas {
  outline: none;
  user-select: none;
}

.model-container {
  position: relative;
}

canvas:hover {
  box-shadow: 0px 0 30px #eeeeee;
}

.image-modal-visible {
  position: fixed;
  z-index: 2;
  width: 90vw;
  height: 80vh;
  max-height: 800px;
  max-width: 800px;
  left: 50%;
  margin-left: -400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 10%;
}

@media (max-width: 800px) {
  .image-modal-visible {
    margin-left: 5%;
    left: auto;
  }
}

.hidden {
  display: none;
}
