@media (orientation: portrait) {
    .piece-2-container {
        max-height: 100vw;
    }

    input[type='button'] {
      width: 10vw !important;
      height: 10vw !important;
      font-size: xx-large !important;
    }
}

.title-group {
  font-style: normal;
  margin-top: 3em;
}

.expo-title {
  margin: 0 0 0 10vw;
  line-height: .8em;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 70%;
  min-width: 300px;
}

.expo-title.es {
  text-align: left;
}

.expo-title.en {
  text-align: right;
  color: var(--gris);
  transform: translateX(-30%);
}

.expo-author, .expo-city {
  margin-top: 1.6em;
  margin-left: 10vw;
  margin-right: auto;
  min-width: 300px;
  width: 50%;
  text-align: justify;
  font-weight: bold;
}

.expo-description {
  margin-top: 1.6em;
  margin-left: 10vw;
  margin-bottom: 3em;
  text-align: justify;
  width: 50%;
  min-width: 300px;
}

.info-contaner p {
  color: white;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: .6em;
  font-style: normal;
  letter-spacing: 2px;
  text-align: left;
  margin: 0;
}

.info-contaner {
  position: relative;
  background-color: var(--azul);
  min-width: 200px;
  padding: .8em;
  width: 25vw;
}

.videoconference {
  width: 70vw;
  margin: 3rem auto;
}

.videoconference > iframe {
  width: 100%;
  min-width: 300px;
  height: 40vh;
  min-height: 200px;
}

.container {
  position: relative;
  margin-bottom: 3rem;
}

canvas {
  background: none;
  margin: auto;
  max-width: 80vw;
}

.canvas-contaner {
  position: relative;
}

.loading {
  position: absolute;
  z-index: 2;
  width: 70%;
  height: 50%;
  top: 15%;
  left: 15%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  -webkit-perspective: 120px;
  -moz-perspective: 120px;
  -ms-perspective: 120px;
  perspective: 120px;
  width: 100px;
  height: 100px;
}

.loader:before {
  content: "";
  position: absolute;
  left: 25px;
  top: 25px;
  width: 50px;
  height: 50px;
  background-color: #ff5050;
  animation: flip 1s infinite;
}

@keyframes flip {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(180deg)  rotateX(180deg);
  }
}

input[type='button'] {
  width: 3rem;
  height: 3rem;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: x-large;
  font-style: normal;
  letter-spacing: 2px;
  text-align: center;
  color: white;
  background-color: var(--rosa);
  cursor: pointer;
  border-radius: 100px;
  justify-self: center;
}

input[type='button']:hover {
  background-color: var(--azul);
}

.layer-buttons {
  margin: auto;
  width: 100%;
  z-index: 3;
  display: grid;
  grid-template-columns: 50% 50%;
}

.action-container {
  position: fixed;
  z-index: 5;
  width: 80%;
  height: 70%;
  top: 50%;
  left: 50%;
  background: #AAAAAA;
  opacity: .9;
  transform: translateX(-50%) translateY(-50%);
}

.action-container-hidden {
  width: 0;
  height: 0;
  display: none;
}

.action-container input[type='button'], .action-container-hidden input[type='button'] {
  position: absolute;
  top: 5%;
  left: 5%;
}

.action-element {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 15%;
  left: 10%;
}

#remove-action {
  z-index: 6;
  margin: auto;
}
