.select {
  top: 0;
  right: 5%;
}

.title-group {
  font-style: normal;
  margin-top: 2em;
}

.expo-title {
  margin: 0 0 0 10vw;
  line-height: .8em;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 65%;
  min-width: 300px;
}

.section-title {
  text-align: left;
  margin: 0 0 1rem 10vw;
}

.expo-title.es {
  text-align: left;
}

.expo-title.en {
  text-align: left;
  color: var(--gris);
  transform: translateX(30%);
}

.expo-author, .expo-city {
  margin-top: 1.6em;
  margin-left: 10vw;
  margin-right: auto;
  min-width: 300px;
  width: 50%;
  text-align: justify;
  font-weight: bold;
}

.expo-description {
  margin-top: 1.6em;
  margin-left: 10vw;
  margin-bottom: 3em;
  text-align: justify;
  width: 50%;
  min-width: 300px;
  white-space: pre-line;
}

.info-container {
  margin: 1rem 0 0 10vw;
  background-color: var(--azul);
  min-width: 200px;
  width: 40vw;
}

.info-container p {
  color: white;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: .8rem;
  font-style: normal;
  letter-spacing: 2px;
  text-align: left;
  margin: 0;
  padding: .8rem;
}

.videoconference {
  width: 80vw;
  margin: 3rem auto;
}

.videoconference > iframe {
  width: 100%;
  min-height: 200px;
}

.landscape-1-container > a > img {
  max-height: 80vh;
  max-width: 80vw;
}

.video-1-container > video {
  max-height: 80vh;
  width: 80vw;
}

.landscape-1-container, .video-1-container {
  margin: 3rem auto;
}

@media (orientation: portrait) {
  .expo-description {
    margin-top: 1.6em;
    margin-left: 10vw;
    margin-bottom: 3em;
    text-align: justify;
    width: 80%;
    min-width: 300px;
  }

  .videoconference > iframe {
    height: 30vh;
  }

  .images-container {
    height: 50vh
  }

  .image-container {
    height: 90% !important;
    position: relative;
  }
}

.images-container {
  width: 90vw;
  margin: auto;
  user-select: none;
}

.image-container {
  width: 100%;
  max-width: 1000px;
  height: 80vh;
  position: relative;
  margin: auto;
}

#viewport-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.slider-container {
  font-style: normal;
  margin-top: 1rem;
}

.arrow {
  margin: 0 1rem;
  cursor: pointer;
  color: var(--rosa);
}

.bullet {
  margin: 0 .1rem;
}

.highlight {
  color: var(--rosa);
}

.twitter-container {
  margin: 3rem 0;
}
