@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Staatliches&display=swap');

:root {
  --rosa: #ff5050;
  --gris: #aaaaaa;
  --azul: #33cccc;
}

body {
  font-family: 'Alegreya', serif;
  color: var(--gris);
  text-align: center;
  background-color: white;
  margin: 0 auto;
  position: absolute;
  width: 80%;
  top: 0;
  right: 0;
  left: 0;
  text-size-adjust: 200%;
  -webkit-text-size-adjust: 200%;
}

h1 {
  font-family: 'Staatliches', sans-serif;
  color: var(--rosa);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-size-adjust: 300%;
  -webkit-text-size-adjust: 300%;
}

.select {
  position: absolute;
  top: 1.5em;
  right: -10%;
  font-family: 'Staatliches', sans-serif;
  color: var(--azul);
  border-radius: 0;
  -moz-appearance: none;
	-webkit-appearance: none;
  border: none;
  font-size: 1.15em;
  text-size-adjust: 200%;
  -webkit-text-size-adjust: 200%;
  background: none;
}

div {
  font-style: italic;
  margin-bottom: 12px;
}

p.footer::first-letter {
  font-variant: inherit;
  initial-letter: inherit;
  font-size: inherit;
}

.footer {
  position: relative;
  bottom: 0;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  text-align: center;
  background-color: white;
  z-index: 2;
}

.footer a {
  padding: 0;
}

a {
  color: inherit;
  padding-left: 12px;
  padding-right: 12px;
}

a:hover {
  color: var(--azul);
}

img {
  width: 200px;
}


form {
  margin: 0 20%;
  width: 60%;
  font-family: inherit;
}

form > p {
  text-align: left;
  text-decoration: underline;
}

input, textarea {
  font-family: inherit;
  font-style: italic;
  color: var(--gris);
  border: none;
  border-bottom: solid 1px var(--gris);
  display: block;
  width: 100%;
  margin: 5% 0;
  border-radius: 0;
  outline: none;
  background: none;
  font-size: inherit;
}

input[type=submit]:hover, input[type=submit]:focus {
  color: var(--rosa);
  cursor: pointer;
  background: none;
  outline: none;
}

input[type=text]:focus, textarea:focus {
  border-bottom: solid 1px var(--azul);
}

.description {
  white-space: pre-wrap;
  width: 80%;
  margin: 3em auto;
  text-align: justify;
  text-align-last: center;
}
